<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}Leftward App{% endif %}</title>
  <link rel="stylesheet" href="{{ "/assets/css/reset.css" absolute_url | absolute_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <script type="text/javascript" src="{{ "/assets/js/menu.js" | absolute_url }}"></script>

</head>