body {
	background: #ededed;
}

main {
	// margin: 0 1rem;
}

h1{
	font-family: 'Rubik Mono One', sans-serif;
	color: $lw-purple;
}

img{
	// width: 100%;
}

.fillimg{
	max-width: 100%;
}

.vertical {
	flex-direction: column;
}
