nav{
	margin-bottom: 3rem;
	flex-wrap: wrap;
}

.logo{
	margin: .5rem;
	display: flex;
	align-items: center;
	#logo {
		height: 24px;
		margin-right: .5rem;
		@media screen and (min-width: $breakpoint-med){
			height: 36px;
			margin-right: .75rem;
		}
	}
	#site-title{
		font-family: 'Rubik Mono One', sans-serif;
		color: $lw-purple;
		font-size: 1rem;
		letter-spacing: -1px;
		@media screen and (min-width: $breakpoint-med){
			font-size: 2rem;
		}

	}
}

h1{
	padding: 2rem 0;
	text-align: center;
	font-size: 3.8rem;
	line-height: 0.5;
	letter-spacing: -2px;
	span{
		font-size: 2rem;
		line-height: 2.2;
	}
}

.intro-split{
	display: flex;
	flex-wrap: wrap;
	.left{
		flex: 1 1 100%;
		@media screen and (min-width: $breakpoint-lg){
			flex: 1 1 60%;
		}
	}
	.right{
		flex: 1 1 100%;
		text-align: center;

		@media screen and (min-width: $breakpoint-sm){
			flex: 1 1 40%;
		}
	}
}

