---
layout: default
---
<section class="intro-split">
		<div class="left">
			<section class="vertical intro-text">
				<h1>Values<br><span>to</span><br>action</h1>
				<h2>We build tools that remove the barriers between values and action.</h2>
			</section>
			<article class="intro-description">
				<p>In the United States of America, there is overwhelming popular support for progressive policy. The average American understands that a more equal, more just, and more democratic America is a better one. Leftward's mission is to remove the barriers that prevent this popular consensus from becoming political reality. </p>
			</article>
			<section>
			<!-- <aside>
				<h3>Card heading</h3>
				<p>Card content</p>
			</aside>
			<aside>
				<h3>Card heading</h3>
				<p>Card content</p>
			</aside> -->
			<aside class="download-card">
				<h3>Download</h3>
				<p><em>Coming Soon...</em></p>
			</aside>
			</section>
		</div>
		<div class="right"><img class="fillimg"
			src="{{ "/assets/img/hero-place.png" | absolute_url}}">
		</div>
	</section>
	<hr>
	<section>
		<a name="contact"></a>
		<h2>We'd love to hear from you</h2>
	</section>
	<section>
		<p><a href="mailto:hello@leftward.app"><i>Email hello@leftward.app</i></a></p>
	</section>
{{content}}