---
layout: default
---
<section class="intro-split">
		<div class="left">
			<section>
				<h1>Values<br><span>to</span><br>action</h1>
				<h2>Leftward is a lorem ipsum dolor sit amet.</h2>
			</section>
			<section>
				<aside>
				<h3>Card heading</h3>
				<p>Card content</p>
			</aside><aside>
				<h3>Card heading</h3>
				<p>Card content</p>
			</aside><aside>
				<h3>Card heading</h3>
				<p>Card content</p>
			</aside>
			</section>
		</div>
		<div class="right"><img class="fillimg"
			src="{{ "/assets/img/hero-place.png" | absolute_url}}">
		</div>
	</section>
{{content}}